.recommended{
    flex: 0.8;
    background: #fafafa;
    /* position: inherit; */
    padding-left: 150px;

}


.arrange{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recommended >h4{
    padding: 10px;
    margin-left: 40px;
    font-weight: 600;
}