.sidebarRow{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.sidebarRow:hover{
    background-color: lightgray;
    cursor: pointer;
}

.sidebarRow > .sidebarRow__icon{
    color: rgb(107, 97, 97);
}

/* .sidebarRow:hover > .sidebarRow__icon{
    color: red;
} */

.sidebarRow__text{
    margin-left: 20px;
}

.selected{
    background-color: gray;

}
.selected:hover{
    background-color: gray;

}

.selected>.sidebarRow__icon{
    color: red;
}

